<html>
  <head>
    <meta charset='utf-8' />
    <title>Resume</title>

    <link href='/css/IranSans.css' rel='stylesheet' />
    <link href='/css/YekanBakh.css' rel='stylesheet' />
    <link href='/css/Vazirmatn.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css' rel='stylesheet' />

    <script src='https://cdn.tailwindcss.com'></script>

    <style>
      .text-secondary { color: #60768A; } body { margin: 0; } .progress-bar { background-color: #d1d1d1; border-radius:
      0.25rem; position: relative; overflow: hidden; } .triangle { width: 0; height: 0; border-style: solid;
      border-width: 0 0 130px 600px ; border-color: transparent transparent transparent #d6974c; position: absolute;
      top: 0; left: 0; z-index: 0; } .triangle-small { width: 0; height: 0; border-style: solid; border-width: 0 310px
      80px 0; border-color: transparent #60768A transparent transparent; position: absolute; right: 0; top: 0; z-index:
      0; }

      {{! Breaks }}
      h1, h2, h3, h4, h5, h6, p, ul, ol, .page-break { page-break-inside: avoid; } .page-break-before {
      page-break-before: always; } .page-break-after { page-break-after: always; }
    </style>

  </head>
  <body dir='rtl' style='font-family: {{templateSettings.defaultFont}};'>
    <style>
      {{! Places Color }}
      .text-places { color:
      {{templateSettings.placesColor}}; }

      {{! Titles Color }}
      .text-titles { color:
      {{templateSettings.sectionTitleColor}}; }

      {{! Progress }}
      .progress-bar .progress-tracker { height: 100%; background-color:{{templateSettings.skillBarColor}}; }

      {{! Margin }}
      .block-margin { padding-top:{{templateSettings.blockMargins}}; }

    </style>

    <div class='fixed top-0 right-0 h-screen' style='background-color: #D8EBFD; width: 30%; z-index: -1;'></div>

    <div class='relative mx-auto' style='width: 210mm;'>
      <div class='triangle'></div>
      <div class='triangle-small'></div>

      <div class='grid grid-cols-12 gap-8'>
        <div class='col-span-4 h-full'>
          {{#if image}}
            <div style='padding-top: 30px; z-index: 10;' class='relative'><img
                src='{{image.completedUrl}}'
                class='w-32 h-32 rounded-full mx-auto'
              /></div>
          {{/if}}
          <div class='flex flex-col px-10'>
            {{#if image}}
              <div style='padding-top: 40px;'></div>
            {{else}}
              <div style='padding-top: 80px;'></div>
            {{/if}}

            <div class='space-y-1'>
              {{#if basic.email}}
                <div class='flex items-center gap-2 text-sm'>
                  <i class='fa-solid fa-envelope'></i>
                  <span dir='ltr'>{{basic.email}}</span>
                </div>
              {{/if}}

              {{#if basic.phone}}
                <div class='flex items center gap-2 text-sm'>
                  <i class='fa-solid fa-phone'></i>
                  <span dir='ltr'>{{basic.phone.countryCode}}{{basic.phone.text}}</span>
                </div>
              {{/if}}

              {{#if basic.url}}
                <div class='flex items center gap-2 text-sm'>
                  <i class='fa-solid fa-globe'></i>
                  <span dir='ltr'>{{basic.url}}</span>
                </div>
              {{/if}}

              {{#if basic.birthDate}}
                <div class='flex items center gap-2 text-sm'>
                  <i class='fa-solid fa-calendar-days'></i>
                  <span>{{basic.birthDate}}</span>
                </div>
              {{/if}}

              {{#if basic.location.country}}
                <div class='flex items center gap-2 text-sm'>
                  <i class='fa-solid fa-map-marker-alt'></i>
                  <span>
                    <span>{{basic.location.country}}</span>
                    {{#if basic.location.city}}
                      <span>,</span>
                      <span>{{basic.location.city}}</span>
                    {{/if}}
                  </span>
                </div>
              {{/if}}
            </div>

            {{! Skills }}
            {{#if skills}}
              <div class='pt-6'>
                <h3 class='font-bold text-lg text-secondary'>مهارت‌ها</h3>

                {{#each skills}}
                  <div class='pt-3 pr-2'>
                    <h4 class='font-bold text-sm'>{{name}}</h4>
                    <p class='text-xs text-gray-500 mt-1'>
                      {{description}}
                    </p>

                    {{#if hasLevel}}
                      <div class='w-full h-2 bg-gray-300 rounded-md mt-2'>
                        <div class='progress-bar h-2'>
                          <div class='progress-tracker h-2' style='width: {{level}}%;'></div>
                        </div>
                      </div>
                    {{/if}}
                  </div>
                {{/each}}

              </div>
            {{/if}}

            {{! Language }}
            {{#if languages}}
              <div class='pt-6'>
                <h3 class='font-bold text-lg text-secondary'>زبان‌ها</h3>

                {{#each languages}}
                  <div class='pt-3 pr-2'>
                    <h4 class='font-bold text-sm'>{{language}}</h4>

                    {{#if hasLevel}}
                      <div class='w-full h-2 bg-gray-300 rounded-md mt-2'>
                        <div class='progress-bar h-2'>
                          <div class='progress-tracker h-2' style='width: {{level}}%;'></div>
                        </div>
                      </div>
                    {{/if}}
                  </div>
                {{/each}}

              </div>
            {{/if}}

            {{! Social }}
            {{#if profiles}}
              <div class='pt-6'>
                <h3 class='font-bold text-lg text-secondary'>
                  شبکه‌های اجتماعی
                </h3>
                <div class='space-y-2 pt-3 pr-2'>
                  {{#each profiles}}
                    <div class='flex items-center gap-2 text-sm'>
                      <i class='fa-brands fa-{{network}}'></i>
                      <span dir='ltr'>{{username}}</span>
                    </div>
                  {{/each}}
                </div>
              </div>
            {{/if}}

            {{! References }}
            {{#if references}}
              <div class='pt-6'>
                <h3 class='font-bold text-lg text-secondary'>
                  معرف‌ها
                </h3>
                <div class='space-y-2 pt-3 pr-2'>
                  {{#each references}}
                    <div class='flex gap-2 text-sm'>
                      <i class='fa-solid fa-user'></i>
                      <div>
                        <p>{{name}}</p>
                        <p class='text-xs text-gray-500'>{{reference}}</p>
                      </div>
                    </div>

                  {{/each}}
                </div>
              </div>
            {{/if}}

            {{! Interests }}
            {{#if interests}}
              <div class='pt-6'>
                <h3 class='font-bold text-lg text-secondary'>
                  علایق
                </h3>
                <div class='space-y-2 pt-3 pr-2'>
                  {{#each interests}}
                    <p class='text-sm'>{{name}}</p>
                    <p class='text-xs text-gray-500'>
                      {{#each keywords}}
                        <span>{{this}}</span>

                        {{#if @last}}{{else}}
                          <span>-&nbsp;</span>
                        {{/if}}
                      {{/each}}
                    </p>
                  {{/each}}
                </div>
              </div>
            {{/if}}
          </div>
        </div>

        <div class='col-span-8 pl-8' style='padding-top: 80px;'>
          <div>
            <h1 class='font-bold text-xl' style='color : {{templateSettings.nameColor}}'>
              {{basic.firstName}}
              {{#if basic.lastName}}
                {{basic.lastName}}
              {{/if}}

            </h1>
            <h2 class='font-light text-xl mt-1' style='color : {{templateSettings.jobTitleColor}}'>
              {{basic.label}}
            </h2>
          </div>

          <div class='mt-4'>
            <p class='text-xs text-gray-600' style='line-height: 1.7;'>
              {{basic.summary}}
            </p>
          </div>

          {{! Education}}
          {{#if education}}
            <div class='block-margin'>
              <h3 class='font-bold text-lg text-titles'>سوابق تحصیلی</h3>

              {{#each education}}
                <div class='pr-2'>
                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold text-sm'>{{studyType}}&nbsp;{{area}}</h4>
                  </div>

                  <div class='flex items-center gap-1'>
                    <p class='text-xs text-gray-500 mt-1'>
                      <span>از</span>
                      <span dir='ltr'>{{startDate}}</span>

                      {{#if stillStudying}}
                        <span>تا کنون</span>
                      {{else}}
                        <span>تا</span>
                        <span dir='ltr'>{{endDate}}</span>
                      {{/if}}

                    </p>
                    <p class='text-xs w-3 border-t border-t-gray-200'></p>

                    <p class='flex items-center'>
                      <p class='text-xs text-places'>{{institution}}</p>،&nbsp;
                      <p class='text-xs text-gray-800'>{{location.country}}،&nbsp;{{location.city}}</p>
                    </p>
                  </div>
                  <ul class='text-xs text-gray-800 list-disc mt-2 mx-6'>
                    {{#each highlights}}<li>{{this}}</li>{{/each}}
                  </ul>
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Work Experience }}
          {{#if work}}
            <div class='block-margin'>
              <h3 class='font-bold text-lg text-titles'>سوابق شغلی</h3>

              {{#each work}}
                <div class='pr-2 page-break'>
                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold text-sm'>{{position}}</h4>
                  </div>
                  <div class='flex items-center gap-1'>
                    <p class='text-xs text-gray-500 mt-1'>
                      <span>از</span>
                      <span dir='ltr'>{{startDate}}</span>

                      {{#if stillWorking}}
                        <span>تا کنون</span>
                      {{else}}
                        <span>تا</span>
                        <span dir='ltr'>{{endDate}}</span>
                      {{/if}}
                    </p>
                    <p class='text-xs w-3 border-t border-t-gray-200'></p>
                    <div class='flex items-center'>
                      <p class='text-xs text-places'>{{name}}</p>،&nbsp;
                      <p class='text-xs text-gray-800'>{{location.state}}،&nbsp;{{location.city}}</p>
                    </div>
                  </div>
                  <ul class='text-gray-800 list-disc mt-2 mx-6'>
                    {{#each highlights}}<li style='font-size: 12px;'>{{this}}</li>{{/each}}
                  </ul>
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Projects }}
          {{#if projects}}
            <div class='block-margin'>
              <h3 class='font-bold text-lg text-titles' style='break-after: avoid;'>پروژه‌ها</h3>

              {{#each projects}}
                <div class='pr-2 page-break'>
                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold text-sm'>{{name}}</h4>
                    <p class='text-xs w-3 border-t border-t-gray-200'></p>

                    <p class='text-xs text-places'>{{organization}}</p>

                  </div>

                  {{#if url}}
                    <div class='flex text-xs gap-1 my-1'>
                      <p class='text-gray-500'>آدرس پروژه:</p>
                      <a href={{url}} class='text-xs text-places'>{{url}}</a></div>
                  {{/if}}

                  <p class='text-xs text-gray-600'>
                    {{description}}
                  </p>
                  <p class='text-xs text-gray-500 mt-1'>
                    <span>از</span>
                    <span dir='ltr'>{{startDate}}</span>

                    {{#if stillWorking}}
                      <span>تا کنون</span>
                    {{else}}
                      <span>تا</span>
                      <span dir='ltr'>{{endDate}}</span>
                    {{/if}}

                  </p>
                  <ul class='text-xs text-gray-800 list-disc mt-2 mx-6'>
                    {{#each highlights}}<li>{{this}}</li>{{/each}}
                  </ul>
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Certificates }}
          {{#if certificates}}
            <div class='block-margin'>
              <h3 class='font-bold text-lg text-titles'>دوره‌ها و گواهینامه‌ها</h3>

              {{#each certificates}}
                <div class='pr-2'>
                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold text-sm'>{{name}}</h4>
                  </div>
                  <p class='text-xs text-gray-600 mt-1'>
                    <span>موسسه: </span>
                    <span>{{issuer}}</span>
                  </p>

                  {{#if url}}
                    <div class='flex text-xs gap-1 my-1'>
                      <p class='text-gray-500'>لینک:</p>
                      <a href={{url}} class='text-xs text-places'>{{url}}</a></div>
                  {{/if}}
                  <p class='text-xs text-gray-500 mt-1'>
                    <span dir='ltr'>{{date}}</span>
                  </p>
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Publications }}
          {{#if publications}}
            <div class='block-margin'>
              <h3 class='font-bold text-lg text-titles'>تحقیقات و مقالات</h3>

              {{#each publications}}
                <div class='pr-2 page-break'>
                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold text-sm'>{{name}}</h4>
                    <p class='text-xs w-3 border-t border-t-gray-200'></p>
                    <p class='text-xs text-places'>{{publisher}}</p>
                  </div>

                  {{#if summary}}
                    <p class='text-xs text-gray-600 mt-1'>
                      <span>{{summary}}</span>
                    </p>
                  {{/if}}

                  {{#if url}}
                    <div class='flex text-xs gap-1 my-1'>
                      <p class='text-gray-500'>لینک:</p>
                      <a href={{url}} class='text-xs text-places'>{{url}}</a></div>
                  {{/if}}

                  <p class='text-xs text-gray-500 mt-1'>
                    <span dir='ltr'>{{releaseDate}}</span>
                  </p>
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Awards }}
          {{#if awards}}
            <div class='block-margin'>
              <h3 class='font-bold text-lg text-titles'>
                جوایز و افتخارات
              </h3>

              {{#each awards}}
                <div class='pr-2 page-break'>
                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold text-sm'>{{title}}</h4>
                    <p class='text-xs w-3 border-t border-t-gray-200'></p>
                    <p class='text-xs text-places'>{{awarder}}</p>
                  </div>

                  {{#if summary}}
                    <p class='text-xs text-gray-600 mt-1'>
                      <span>{{summary}}</span>
                    </p>
                  {{/if}}

                  <p class='text-xs text-gray-500 mt-1'>
                    <span dir='ltr'>{{date}}</span>
                  </p>
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Speeches }}
          {{#if speeches}}
            <div class='block-margin'>
              <h3 class='font-bold text-lg text-titles'>ارائه‌ها و سخنرانی‌ها</h3>

              {{#each speeches}}
                <div class='pr-2 page-break'>
                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold text-sm'>{{name}}</h4>
                  </div>

                  {{#if summary}}
                    <p class='text-xs text-gray-600 mt-1'>
                      <span>{{summary}}</span>
                    </p>
                  {{/if}}

                  {{#if url}}
                    <div class='flex text-xs gap-1 my-1'>
                      <p class='text-gray-500'>لینک:</p>
                      <a href={{url}} class='text-xs text-places'>{{url}}</a></div>
                  {{/if}}

                  <p class='text-xs text-gray-500 mt-1'>
                    <span dir='ltr'>{{date}}</span>
                  </p>
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Teaching }}
          {{#if teaching}}
            <div class='block-margin'>
              <h3 class='font-bold text-lg text-titles'>سوابق تدریس</h3>

              {{#each teaching}}
                <div class='pr-2 page-break'>
                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold text-sm'>{{title}}</h4>
                    <p class='text-xs w-3 border-t border-t-gray-200'></p>
                    <p class='text-xs text-places'>{{institution}}</p>
                  </div>

                  {{#if location}}
                    <p class='text-xs text-gray-800 mt-1'>
                      <span>{{location.country}}، {{location.city}}، {{location.state}}</span>
                    </p>
                  {{/if}}

                  {{#if summary}}
                    <p class='text-xs text-gray-600 mt-1'>
                      <span>{{summary}}</span>
                    </p>
                  {{/if}}

                  <p class='text-xs text-gray-500 mt-1'>
                    <span dir='ltr'>{{date}}</span>
                  </p>
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Invention }}
          {{#if inventions}}
            <div class='block-margin'>
              <h3 class='font-bold text-lg text-titles'>اختراعات</h3>

              {{#each inventions}}
                <div class='pr-2 page-break'>
                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold text-sm'>{{name}}</h4>
                  </div>

                  <p class='text-xs text-gray-600 mt-1'>
                    <span>{{summary}}</span>
                  </p>

                  {{#if url}}
                    <div class='flex text-xs gap-1 my-1'>
                      <p class='text-gray-500'>لینک:</p>
                      <a href={{url}} class='text-xs text-places'>{{url}}</a></div>
                  {{/if}}

                  <p class='text-xs text-gray-500 mt-1'>
                    <span dir='ltr'>{{date}}</span>
                  </p>
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Volunteer }}
          {{#if volunteer}}
            <div class='block-margin'>
              <h3 class='font-bold text-lg text-titles'>فعالیت‌های داوطلبانه</h3>

              {{#each volunteer}}
                <div class='pr-2 page-break'>
                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold text-sm'>{{position}}</h4>
                    <p class='text-xs w-3 border-t border-t-gray-200'></p>
                    <p class='text-xs text-places'>{{organization}}</p>
                  </div>
                  <p class='text-xs text-gray-600 mt-1'>
                    {{summary}}
                  </p>
                  <p class='text-xs text-gray-500 mt-1'>
                    <span>از</span>
                    <span dir='ltr'>{{startDate}}</span>

                    {{#if stillWorking}}
                      <span>تا کنون</span>
                    {{else}}
                      <span>تا</span>
                      <span dir='ltr'>{{endDate}}</span>
                    {{/if}}
                  </p>

                  <ul class='text-xs text-gray-800 list-disc mt-2 mx-6'>
                    {{#each highlights}}<li>{{this}}</li>{{/each}}
                  </ul>
                </div>
              {{/each}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </body>
</html>