<html>
  <head>
    <meta charset='utf-8' />
    <title>Resume</title>

    <link href='/css/IranSans.css' rel='stylesheet' />
    <link href='/css/YekanBakh.css' rel='stylesheet' />
    <link href='/css/Vazirmatn.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css' rel='stylesheet' />

    <script src='https://cdn.tailwindcss.com'></script>
    <style>
      .text-primary { color: #0097cf; } body { margin: 0; } .progress-bar { background-color: #767676; border-radius:
      0.25rem; position: relative; overflow: hidden; }

      {{! Breaks }}
      h1, h2, h3, h4, h5, h6, p, ul, ol, .page-break { page-break-inside: avoid; } .page-break-before {
      page-break-before: always; } .page-break-after { page-break-after: always; }

    </style>

  </head>
  <body dir='rtl' style='font-family: {{templateSettings.defaultFont}};'>
    <style>
      {{! Places Color }}
      .text-places { color:
      {{templateSettings.placesColor}}; }

      {{! Titles Color }}
      .text-titles { color:
      {{templateSettings.sectionTitleColor}}; }

      {{! Progress }}
      .progress-bar .progress-tracker { height: 100%; background-color:{{templateSettings.skillBarColor}}; }

      {{! Margin }}
      .block-margin { padding-top:{{templateSettings.blockMargins}}; }

    </style>

    <div class='fixed top-0 right-0 h-screen' style='background-color: #333333; width: 30%; z-index: -1;'></div>

    <div class='relative mx-auto w-[210mm]'>

      <div class='grid grid-cols-12 gap-6'>
        <div class='col-span-4 px-6 py-10'>
          {{! Contact Details }}
          <div class='space-y-2 text-white'>
            {{#if image}}
              <div class='flex justify-center pb-6'>
                <img src='{{image.completedUrl}}' class='w-32 h-32 rounded-full' />
              </div>
            {{/if}}

            {{#if basic.email}}
              <div class='flex items-center gap-2 text-xs'>
                <i class='fa-solid fa-envelope'></i>
                <span dir='ltr'>{{basic.email}}</span>
              </div>
            {{/if}}

            {{#if basic.phone}}
              <div class='flex items center gap-2 text-xs'>
                <i class='fa-solid fa-phone'></i>
                <span dir='ltr'>{{basic.phone.countryCode}}{{basic.phone.text}}</span>
              </div>
            {{/if}}

            {{#if basic.url}}
              <div class='flex items center gap-2 text-xs'>
                <i class='fa-solid fa-globe'></i>
                <span dir='ltr'>{{basic.url}}</span>
              </div>
            {{/if}}

            {{#if basic.birthDate}}
              <div class='flex items center gap-2 text-xs'>
                <i class='fa-solid fa-calendar-days'></i>
                <span>{{basic.birthDate}}</span>
              </div>
            {{/if}}

            {{#if basic.location.country}}
              <div class='flex items center gap-2 text-xs'>
                <i class='fa-solid fa-map-marker-alt'></i>
                <span>
                  <span>{{basic.location.country}}</span>
                  {{#if basic.location.city}}
                    <span>,</span>
                    <span>{{basic.location.city}}</span>
                  {{/if}}
                </span>
              </div>
            {{/if}}

          </div>

          {{! Skills }}
          {{#if skills}}
            <div class='pt-6'>
              <h3 class='font-bold text-sm text-white' style='break-after: avoid;'>مهارت‌ها</h3>

              {{#each skills}}
                <div class='pt-3 pr-2 text-white'>
                  <h4 class='font-bold text-xs'>{{name}}</h4>
                  <p class='text-gray-600 mt-1' style='font-size: 10px;'>
                    {{description}}
                  </p>

                  {{#if hasLevel}}
                    <div class='w-2/3 h-1 bg-gray-300 rounded-md mt-2 overflow-hidden'>
                      <div class='progress-bar h-1 rounded-md'>
                        <div class='progress-tracker h-1 rounded-md' style='width: {{level}}%;'></div>
                      </div>
                    </div>
                  {{/if}}
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Language }}
          {{#if languages}}
            <div class='pt-6'>
              <h3 class='font-bold text-sm text-white' style='break-after: avoid;'>زبان‌ها</h3>

              {{#each languages}}
                <div class='pt-3 pr-2'>
                  <h4 class='font-bold text-sm text-white'>{{language}}</h4>

                  {{#if hasLevel}}
                    <div class='w-2/3 h-1 bg-gray-300 rounded-md mt-2 overflow-hidden'>
                      <div class='progress-bar h-1 rounded-md'>
                        <div class='progress-tracker h-1 rounded-md' style='width: {{level}}%;'></div>
                      </div>
                    </div>
                  {{/if}}
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Social }}
          {{#if profiles}}
            <div class='mt-8'>
              <h3 class='font-bold text-sm text-white' style='break-after: avoid;'>
                شبکه‌های اجتماعی
              </h3>
              <div class='space-y-2 pt-3 pr-2'>
                {{#each profiles}}
                  <div class='flex items-center gap-2 text-sm text-white'>
                    <i class='fa-brands fa-{{network}}'></i>
                    <span dir='ltr'>{{username}}</span>
                  </div>
                {{/each}}
              </div>
            </div>
          {{/if}}

          {{! References }}
          {{#if references}}
            <div class='mt-8'>
              <h3 class='font-bold text-sm text-white' style='break-after: avoid;'>
                معرف‌ها
              </h3>
              <div class='space-y-2 pt-3 pr-2'>
                {{#each references}}
                  <div class='flex gap-2 text-sm text-white'>
                    <i class='fa-solid fa-user'></i>
                    <div>
                      <p>{{name}}</p>
                      <p class='text-xs text-gray-500'>{{reference}}</p>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          {{/if}}

          {{! Interests }}
          {{#if interests}}
            <div class='mt-8'>
              <h3 class='font-bold text-sm text-white' style='break-after: avoid;'>
                علایق
              </h3>
              <div class='space-y-2 pt-3 pr-2'>
                {{#each interests}}
                  <p class='text-sm text-white'>{{name}}</p>
                  <p class='text-xs text-gray-200'>
                    {{#each keywords}}
                      <span>{{this}}</span>

                      {{#if @last}}{{else}}
                        <span>-&nbsp;</span>
                      {{/if}}
                    {{/each}}
                  </p>
                {{/each}}
              </div>
            </div>
          {{/if}}
        </div>

        <div class='col-span-8 pe-4 py-10'>
          <div>
            <h1 class='font-bold text-xl' style='color : {{templateSettings.nameColor}}'>
              {{basic.firstName}}
              {{#if basic.lastName}}
                {{basic.lastName}}
              {{/if}}

            </h1>
            <h2 class='font-bold text-xl mt-1' style='color : {{templateSettings.jobTitleColor}}'>
              {{basic.label}}
            </h2>
          </div>

          {{! Bio }}
          <div class='mt-4'>
            <p class='text-xs text-gray-500' style='line-height: 1.7;'>
              {{basic.summary}}
            </p>
          </div>

          {{! Education}}
          {{#if education}}
            <div class='block-margin relative'>
              <h3 class='font-bold text-titles' style='break-after: avoid;'>سوابق تحصیلی</h3>
              <div class='absolute start-0 h-[calc(100%-60px)] top-[60px] bg-gray-300 w-[1px]'></div>

              {{#each education}}
                <div class='pr-3 relative' style='page-break-inside: avoid;'>
                  <div class='absolute -start-[2px] h-[6px] w-[6px] top-4 bg-gray-700 rounded-full z-[2]'></div>

                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold' style='font-size: 10px;'>{{studyType}}&nbsp;{{area}}</h4>
                    <p class='w-3 border-t border-t-gray-200'></p>
                    <div class='flex items-center' style='font-size: 10px;'>
                      <p class='text-places'>{{institution}}</p>،&nbsp;
                      <p class='text-gray-800'>{{location.country}}،&nbsp;{{location.city}}</p>
                    </div>
                  </div>
                  <p class='text-gray-500 mt-1' style='font-size: 10px;'>
                    <span>از</span>
                    <span dir='ltr'>{{startDate}}</span>

                    {{#if stillStudying}}
                      <span>تا کنون</span>
                    {{else}}
                      <span>تا</span>
                      <span dir='ltr'>{{endDate}}</span>
                    {{/if}}

                  </p>
                  <ul class='text-gray-800 list-disc mt-2 mx-3' style='font-size: 10px;'>
                    {{#each highlights}}<li>{{this}}</li>{{/each}}
                  </ul>
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Work Experience }}
          {{#if work}}
            <div class='block-margin relative'>
              <h3 class='font-bold text-titles' style='break-after: avoid;'>سوابق شغلی</h3>
              <div class='absolute start-0 h-[calc(100%-60px)] top-[60px] bg-gray-300 w-[1px]'></div>

              {{#each work}}
                <div class='pr-3 relative' style='page-break-inside: avoid;'>
                  <div class='absolute -start-[2px] h-[6px] w-[6px] top-4 bg-gray-700 rounded-full z-[2]'></div>

                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold text-xs'>{{position}}</h4>
                    <p class='text-xs w-3 border-t border-t-gray-200'></p>
                    <div class='flex items-center'>
                      <p class='text-places' style='font-size: 10px;'>{{name}}</p>
                      <p class='text-gray-800' style='font-size: 10px;'>
                        {{#if location.country}}
                          <span>،&nbsp;{{location.country}}</span>
                        {{/if}}

                        {{#if location.city}}
                          <span>،&nbsp;{{location.city}}</span>
                        {{/if}}
                      </p>
                    </div>
                  </div>
                  <p class='text-gray-500 mt-1' style='font-size: 10px;'>
                    <span>از</span>
                    <span dir='ltr'>{{startDate}}</span>

                    {{#if stillWorking}}
                      <span>تا کنون</span>
                    {{else}}
                      <span>تا</span>
                      <span dir='ltr'>{{endDate}}</span>
                    {{/if}}

                  </p>
                  <ul class='text-gray-800 list-disc mt-2 mx-3'>
                    {{#each highlights}}<li style='font-size: 10px;'>{{this}}</li>{{/each}}
                  </ul>
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Projects }}
          {{#if projects}}
            <div class='block-margin relative'>
              <h3 class='font-bold text-titles' style='break-after: avoid;'>پروژه‌ها</h3>
              <div class='absolute start-0 h-[calc(100%-60px)] top-[60px] bg-gray-300 w-[1px]'></div>

              {{#each projects}}
                <div class='pr-3 relative' style='page-break-inside: avoid;'>
                  <div class='absolute -start-[2px] h-[6px] w-[6px] top-4 bg-gray-700 rounded-full z-[2]'></div>
                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold text-xs'>{{name}}</h4>
                    <p class='text-xs w-3 border-t border-t-gray-200'></p>

                    <p class='text-places' style='font-size: 10px;'>{{organization}}</p>

                  </div>

                  {{#if url}}
                    <div class='flex text-xs gap-1 my-1'>
                      <p class='text-gray-500'>آدرس پروژه:</p>
                      <a href={{url}} class='text-xs text-places'>{{url}}</a></div>
                  {{/if}}

                  <p class='text-xs text-gray-600'>
                    {{description}}
                  </p>
                  <p class='text-gray-500 mt-1' style='font-size: 10px;'>
                    <span>از</span>
                    <span dir='ltr'>{{startDate}}</span>

                    {{#if stillWorking}}
                      <span>تا کنون</span>
                    {{else}}
                      <span>تا</span>
                      <span dir='ltr'>{{endDate}}</span>
                    {{/if}}

                  </p>
                  <ul class='text-gray-800 list-disc mt-2 mx-3' style='font-size: 10px;'>
                    {{#each highlights}}<li>{{this}}</li>{{/each}}
                  </ul>
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Certificates }}
          {{#if certificates}}
            <div class='block-margin relative'>
              <h3 class='font-bold text-titles' style='break-after: avoid;'>دوره‌ها و گواهینامه‌ها</h3>
              <div class='absolute start-0 h-[calc(100%-60px)] top-[60px] bg-gray-300 w-[1px]'></div>

              {{#each certificates}}
                <div class='pr-3 relative' style='page-break-inside: avoid;'>
                  <div class='absolute -start-[2px] h-[6px] w-[6px] top-4 bg-gray-700 rounded-full z-[2]'></div>
                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold text-xs'>{{name}}</h4>
                  </div>
                  <p class='text-gray-600 mt-1' style='font-size: 10px;'>
                    <span>موسسه: </span>
                    <span>{{issuer}}</span>
                  </p>

                  {{#if url}}
                    <div class='flex text-xs gap-1 my-1'>
                      <p class='text-gray-500'>لینک:</p>
                      <a href={{url}} class='text-xs text-places'>{{url}}</a></div>
                  {{/if}}
                  <p class='text-gray-500 mt-1' style='font-size: 10px;'>
                    <span dir='ltr'>{{date}}</span>
                  </p>
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Publications }}
          {{#if publications}}
            <div class='block-margin relative'>
              <h3 class='font-bold text-titles' style='break-after: avoid;'>تحقیقات و مقالات</h3>
              <div class='absolute start-0 h-[calc(100%-60px)] top-[60px] bg-gray-300 w-[1px]'></div>

              {{#each publications}}
                <div class='pr-3 relative' style='page-break-inside: avoid;'>
                  <div class='absolute -start-[2px] h-[6px] w-[6px] top-4 bg-gray-700 rounded-full z-[2]'></div>
                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold text-xs'>{{name}}</h4>
                    <p class='text-xs w-3 border-t border-t-gray-200'></p>
                    <p class='text-xs text-places'>{{publisher}}</p>
                  </div>

                  {{#if summary}}
                    <p class='text-gray-600 mt-1' style='font-size: 10px;'>
                      <span>{{summary}}</span>
                    </p>
                  {{/if}}

                  {{#if url}}
                    <div class='flex text-xs gap-1 my-1'>
                      <p class='text-gray-500'>لینک:</p>
                      <a href={{url}} class='text-xs text-places'>{{url}}</a></div>
                  {{/if}}

                  <p class='text-gray-500 mt-1' style='font-size: 10px;'>
                    <span dir='ltr'>{{releaseDate}}</span>
                  </p>
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Awards }}
          {{#if awards}}
            <div class='block-margin relative'>
              <h3 class='font-bold text-titles' style='break-after: avoid;'>
                جوایز و افتخارات
              </h3>
              <div class='absolute start-0 h-[calc(100%-60px)] top-[60px] bg-gray-300 w-[1px]'></div>

              {{#each awards}}
                <div class='pr-3 relative' style='page-break-inside: avoid;'>
                  <div class='absolute -start-[2px] h-[6px] w-[6px] top-4 bg-gray-700 rounded-full z-[2]'></div>
                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold text-xs'>{{title}}</h4>
                    <p class='text-xs w-3 border-t border-t-gray-200'></p>
                    <p class='text-xs text-places'>{{awarder}}</p>
                  </div>

                  {{#if summary}}
                    <p class='text-gray-600 mt-1' style='font-size: 10px;'>
                      <span>{{summary}}</span>
                    </p>
                  {{/if}}

                  <p class='text-gray-600 mt-1' style='font-size: 10px;'>
                    <span dir='ltr'>{{date}}</span>
                  </p>
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Speeches }}
          {{#if speeches}}
            <div class='block-margin relative'>
              <h3 class='font-bold text-titles' style='break-after: avoid;'>ارائه‌ها و سخنرانی‌ها</h3>
              <div class='absolute start-0 h-[calc(100%-60px)] top-[60px] bg-gray-300 w-[1px]'></div>

              {{#each speeches}}
                <div class='pr-3 relative' style='page-break-inside: avoid;'>
                  <div class='absolute -start-[2px] h-[6px] w-[6px] top-4 bg-gray-700 rounded-full z-[2]'></div>
                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold text-sm'>{{name}}</h4>
                  </div>

                  {{#if summary}}
                    <p class='text-gray-600 mt-1' style='font-size: 10px;'>
                      <span>{{summary}}</span>
                    </p>
                  {{/if}}

                  {{#if url}}
                    <div class='flex text-xs gap-1 my-1'>
                      <p class='text-gray-500'>لینک:</p>
                      <a href={{url}} class='text-xs text-places'>{{url}}</a></div>
                  {{/if}}

                  <p class='text-gray-600 mt-1' style='font-size: 10px;'>
                    <span dir='ltr'>{{date}}</span>
                  </p>
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Teaching }}
          {{#if teaching}}
            <div class='block-margin relative'>
              <h3 class='font-bold text-titles' style='break-after: avoid;'>سوابق تدریس</h3>
              <div class='absolute start-0 h-[calc(100%-60px)] top-[60px] bg-gray-300 w-[1px]'></div>

              {{#each teaching}}
                <div class='pr-3 relative' style='page-break-inside: avoid;'>
                  <div class='absolute -start-[2px] h-[6px] w-[6px] top-4 bg-gray-700 rounded-full z-[2]'></div>
                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold text-xs'>{{title}}</h4>
                    <p class='text-xs w-3 border-t border-t-gray-200'></p>
                    <p class='text-xs text-places'>{{institution}}</p>
                  </div>

                  {{#if location}}
                    <p class='text-xs text-gray-800 mt-1'>
                      <p class='text-gray-800 mt-1' style='font-size: 10px;'>
                        {{#if location.country}}
                          <span>{{location.country}}</span>
                        {{/if}}

                        {{#if location.city}}
                          <span>،&nbsp;{{location.city}}</span>
                        {{/if}}
                      </p>
                    </p>
                  {{/if}}

                  {{#if summary}}
                    <p class='text-gray-600 mt-1' style='font-size: 10px;'>
                      <span>{{summary}}</span>
                    </p>
                  {{/if}}

                  <p class='text-gray-600 mt-1' style='font-size: 10px;'>
                    <span dir='ltr'>{{date}}</span>
                  </p>
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Invention }}
          {{#if inventions}}
            <div class='block-margin relative'>
              <h3 class='font-bold text-titles' style='break-after: avoid;'>اختراعات</h3>
              <div class='absolute start-0 h-[calc(100%-60px)] top-[60px] bg-gray-300 w-[1px]'></div>

              {{#each inventions}}
                <div class='pr-3 relative' style='page-break-inside: avoid;'>
                  <div class='absolute -start-[2px] h-[6px] w-[6px] top-4 bg-gray-700 rounded-full z-[2]'></div>
                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold text-xs'>{{name}}</h4>
                  </div>

                  <p class='text-gray-600 mt-1' style='font-size: 10px;'>
                    <span>{{summary}}</span>
                  </p>

                  {{#if url}}
                    <div class='flex text-xs gap-1 my-1'>
                      <p class='text-gray-500'>لینک:</p>
                      <a href={{url}} class='text-xs text-places'>{{url}}</a></div>
                  {{/if}}

                  <p class='text-gray-600 mt-1' style='font-size: 10px;'>
                    <span dir='ltr'>{{date}}</span>
                  </p>
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{! Volunteer }}
          {{#if volunteer}}
            <div class='block-margin relative'>
              <h3 class='font-bold text-titles' style='break-after: avoid;'>فعالیت‌های داوطلبانه</h3>
              <div class='absolute start-0 h-[calc(100%-60px)] top-[60px] bg-gray-300 w-[1px]'></div>

              {{#each volunteer}}
                <div class='pr-3 relative' style='page-break-inside: avoid;'>
                  <div class='absolute -start-[2px] h-[6px] w-[6px] top-4 bg-gray-700 rounded-full z-[2]'></div>
                  <div class='pt-3 flex items-center gap-1'>
                    <h4 class='font-bold text-xs'>{{position}}</h4>
                    <p class='text-xs w-3 border-t border-t-gray-200'></p>
                    <p class='text-xs text-places'>{{organization}}</p>
                  </div>
                  <p class='text-gray-600 mt-1' style='font-size: 10px;'>
                    {{summary}}
                  </p>
                  <p class='text-gray-600 mt-1' style='font-size: 10px;'>
                    <span>از</span>
                    <span dir='ltr'>{{startDate}}</span>

                    {{#if stillWorking}}
                      <span>تا کنون</span>
                    {{else}}
                      <span>تا</span>
                      <span dir='ltr'>{{endDate}}</span>
                    {{/if}}
                  </p>

                  <ul class='text-xs text-gray-800 list-disc mt-2 mx-3'>
                    {{#each highlights}}<li>{{this}}</li>{{/each}}
                  </ul>
                </div>
              {{/each}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </body>
</html>